body
{
	background-color: skyblue;
}

h1
{
	color: blue;
	background-color: yellow;
	border: 3px dotted lawngreen;
	font-family: Verdana;
}

h3
{
	color: palevioletred;
	background-color: aliceblue;
	font-family: Papyrus;
	text-align: center;
}

p
{
	color: hotpink;
	text-align: right;
}

table, tr, td, th 
{
	border: 3px solid rebeccapurple;
	border-collapse: collapse;
}

th 
{
	background-color: black;
	color: ghostwhite;
}

tr:hover 
{
	background-color: springgreen;
}