body 
{
    font-family: Verdana;
    background-color: darkslategray;
    color: black;
}

.container 
{
    width: 80%;
    margin: 20px auto;
    background-color: khaki;
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

.main-content 
{
    flex: 3;
    padding: 20px;
}

.navigation 
{ 
    flex: 1;
    background-color: navajowhite;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.navigation ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li 
{
    display: block;
    color: deeppink;
    padding: 10px;
    border-bottom: 1px solid slategray;
}

.navigation li a:hover 
{ 
    background-color: palevioletred;
}

section 
{ 
    margin-bottom: 20px;
    padding: 15px;
    background-color: floralwhite;
    border-radius: 8px;
    border-bottom: 2px solid lightgrey;
}

h1
{
	color: dodgerblue;
	background-color: lightpink;
	font-family: Verdana;
}

section h2 
{ 
    color: deeppink;
    border-bottom: 2px solid lightpink;
    padding-bottom: 5px;
    margin-bottom: 10px;
}